@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.zoom {
    overflow: hidden;
    margin: 0 auto;
}

.zoom Image {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.zoom:hover Image {
    transform: scale(1.15);
}






.progress {
    display: flex;
    overflow: hidden;
    height: 30px;
    border-radius: 50px;
    background-color: #ecf0f1;
}
.progress-bar {
    overflow: hidden;
    text-align: center;
    border-radius:inherit;
    background-color: dodgerblue;
}
.progress-bar-animated {
    position:relative;
}
.progress-bar-animated::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:inherit;
    background:linear-gradient(to right,transparent,rgba(255, 255, 255, 0.7));
    transform:translateX(-100%);
    animation: progress-bar-shine 2s infinite;
}
@keyframes progress-bar-shine {
    to {
        transform: translateX(0);
        opacity: 0.1;
    }
}

/*.ant-tabs-nav{*/
/*    border-bottom: 1px solid #f0f0f0 !important;*/
/*}*/

.ant-tabs-top > .ant-tabs-nav::before { /* For the line to the right and close to the tabs */
    border-color: transparent;
}


.ant-tabs-tab-btn{
    font-size: large !important;
}

.ant-col-16{
    max-width: 100% !important;
}




/* For the modal which is a child of .auth-modal */
.profile-modal .ant-modal-content {
    height: 300px;
    overflow-y: auto;
}

/* For the modal which is a child of .details-modal */
.details-modal .ant-modal-content {
    height: 480px;
    overflow-y: auto;
}
